<h1>Day Care Listing will go here</h1>


<% @centers.each do |center| %>
  <h4><a href="centers/<%= center.id %>"><%= center.name %></a></h4>
  <h5><%= center.address %></h5>
  <h5><%= center.city %>, <%= center.state %></h5>
  <h5><%= center.zip_code %></h5>

  <h5><a href="<%= center.website %>">Company Website</a></h5>  
  <hr>
<% end %>

