<div id="centerShow">
  <%= render "shared/header" %>

  <div class="col-md-6">
    <h2><%= @center.name %></h2>
    <h4><%= @center.address %></h4>
    <h4><%= @center.city %>, <%= @center.state %></h4>
    <h4><%= @center.zip_code %></h4>
    <% if @center.phone.present? %>
      <h4><%= @center.phone %></h4>
    <% end %>

    <h4><%= Geocoder::Calculations.distance_between([@center.latitude,@center.longitude], [41.8886,-87.6355]).round(3) %> miles</h4>


    <p hidden id="lat"><%= @center.latitude %></p>
    <p hidden id="lng"><%= @center.longitude %></p>


    <% if @center.website.present? %>
      <h4><a href="<%= @center.website %>">Company Website</a></h4>
    <% end %>
    <hr>
    <h4>Programs: <% @center.programs.each do |program| %>
      <%= program.name.capitalize %>
    <% end %></h4>
    <hr>

    <script
    src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["INDEX_API"] %>">
    </script>

    <div ng-controller="centerCtrlShow" ng-init="setupShow()">
    
    <style>
      #map {
        height: 500px;
        width: 500px;
        margin: 100px;
        padding: 100px;
      }
    </style>

    <div id="map"></div>

    <h4>Neighborhood</h4>
    <% if @center.hours.present? %>
      <%= @center.neighborhood %>
    <% end %>

    <h4><b>Image:</b></h4>
    <% if @center.description.present? %>
      <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=<%= @center.description %>&key=<%=@image_api%>" class="img-rounded" alt="Cinque Terre" width="400" height="400">
    <% else %>
      <img src="https://maps.googleapis.com/maps/api/streetview?size=400x400&location=<%= @center.latitude %>,<%= @center.longitude %>&heading=151.78&pitch=-0.76&key=<%=@image_street_api%>" class="img-rounded" alt="Cinque Terre">
    <% end %>


    <h4><b>Hours:</b>
  
    <% if @center.hours.present? %>
      <%= @center.open_hours %>
      <% @center.hours.split(",").each do |hour| %>
        <p><%= hour[2..-2].gsub(/"/, "") %></p>
      <% end %>
    <% else %>
      <%= "Please contact business directly for business hours" %>
    <% end %>

    <hr>
    <% if current_user %>
      <h4>Action to Submit a Question</h4>
      <h4>Action to Post a Review</h4>
    <% end %>
  </div>

  <% @center.images.each do |image| %>
    <%= image_tag image.url, class: "img-responsive center-image" %>
      <% if current_user %>
        <h6><%= link_to "Delete", "/images/#{image.id}", method: :delete, data:{confirm: "Are you sure?"} %></h6>
      <% end %>
  <% end %> 

  <% if current_user %>
      <h6><%= link_to "Add New Image", "/images/new" %></h6>
  <% end %>

  <h4>Ask a Question</h4>
  <%= form_tag '/posts', method: :post do %>
    <div>
      <%= label_tag :Question %>
      <%= text_field_tag :title %>
    </div>
    <%=hidden_field_tag :center_id, @center.id %>
    <%= submit_tag "Submit" %>
  <% end %>
  <hr>

  <h4>Questions</h4>

  <% @center.posts.each do |post| %>
    <%= post.title.capitalize %>
    <%= form_tag '/comments', method: :post do %>
    <div>
      <%= label_tag :Answer %>
      <%= text_field_tag :field %>
    </div>
    <%= submit_tag "Answer" %>
  <% end %>
    <br>
  <% end %>

  <h4>Add a Referral</h4>
  <%= form_tag '/referrals', method: :post do %>
    <div>
      <%= label_tag :Feedback %>
      <%= text_field_tag :description %>
    </div>
    <%=hidden_field_tag :center_id, @center.id %>
    <%= submit_tag "Submit" %>
  <% end %>
  <hr>

  <h4><%= @center.name.titleize %> Referrals <%= @center.referrals.length %></h4>
  <% @center.referrals.each do |referral| %>
    <%= referral.description.capitalize %><br>
  <% end %>

  <hr>

</div>
