<div class="col-md-6">
  <h2><%= @center.name %></h2>
  <h4><%= @center.address %></h4>
  <h4><%= @center.city %>, <%= @center.state %></h4>
  <h4><%= @center.zip_code %></h4>
  <h4><%= @center.phone %></h4>
  <h4><a href="<%= @center.website %>">Company Website</a></h4>
  <hr>
  <h4>Programs: <% @center.programs.each do |program| %>
    <%= program.name.capitalize %>
  <% end %></h4>
  <hr>
  <h4><b>Description: </b><%= @center.description %></h4>
  <h4><b>Hours: </b><%= @center.hours %></h4>
  <h4><b>Rates: </b><%= @center.rates %></h4>

  <hr>
  <% if current_user %>
    <h4>Action to Submit a Question</h4>
    <h4>Action to Post a Review</h4>
  <% end %>
</div>

<% @center.images.each do |image| %>
  <%= image_tag image.url, class: "img-responsive center-image" %>
    <% if current_user %>
      <h6><%= link_to "Delete", "/images/#{image.id}", method: :delete, data:{confirm: "Are you sure?"} %></h6>
    <% end %>
<% end %> 

<% if current_user %>
    <h6><%= link_to "Add New Image", "/images/new" %></h6>
<% end %>

<h4>Ask a Question</h4>
<%= form_tag '/posts', method: :post do %>
  <div>
    <%= label_tag :Question %>
    <%= text_field_tag :title %>
  </div>
  <%=hidden_field_tag :center_id, @center.id %>
  <%= submit_tag "Submit" %>
<% end %>
<hr>

<h4>Questions</h4>

<% @center.posts.each do |post| %>
  <%= post.title.capitalize %>
  <%= form_tag '/comments', method: :post do %>
  <div>
    <%= label_tag :Answer %>
    <%= text_field_tag :field %>
  </div>
  <%= submit_tag "Answer" %>
<% end %>
  <br>
<% end %>





